// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$app-neutral: #eef5db;
$app-primary: #e63462;
$app-primary-hover: #e26a8a;
$app-secondary: #333745;
$success: #c7efcf;
$error: #e63462;

$crayon-red: #fd6c84;
$crayon-outline: #4f4f5d;
$crayon-yellow: #fcd36e;
