.restaurants-show-container {
  font-family: $montserrat;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  .restaurant-show-title {
    font-weight: 900;
    font-size: 8rem;
    text-transform: uppercase;
    text-shadow: 80px 70px rgba(200, 200, 200, 0.8);
    margin: 0;
    margin-bottom: 10rem;
  }
  .restaurant-show-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $crayon-yellow;
    font-size: 2.5rem;
    .link-to-reviews {
      margin-left: 1rem;
      color: $crayon-outline;
    }
    .add-reviews {
      color: $crayon-outline;
      font-style: italic;
      text-align: right;
    }
    .restaurant-info {
      text-align: left;
      color: $crayon-outline;
      border: 4px solid $crayon-outline;
      border-radius: 4px;
      padding: 0 2rem;
      .website-link {
        color: $crayon-red;
      }
      p {
        font-size: 1.5rem;
        margin: 1.5rem 0;
      }
    }
  }

  .restaurant-description-leftq {
    position: relative;
    top: 8rem;
    left: 2rem;
    opacity: 0.6;
  }

  .restaurant-description-rightq {
    position: relative;
    bottom: 10rem;
    left: 65rem;
    opacity: 0.6;
  }

  .restaurant-show-description {
    font-style: italic;
    font-weight: 300;
    margin: 5rem 10rem;
  }

  .restaurant-photos {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .restaurants-show-container {
    padding: 0 1rem;
    .restaurant-show-title {
      font-size: 4rem;
      text-shadow: 0px 0px rgba(200, 200, 200, 0.8);
      margin-bottom: 4rem;
    }
    .restaurant-show-rating {
      flex-direction: column;
      .restaurant-info {
        margin-bottom: 4rem;
      }
      .restaurant-rating {
        font-size: 1.5rem;
        align-self: flex-end;
        margin-bottom: 4rem;
      }
    }
    .restaurant-description {
      display: flex;
      flex-direction: column;
      .restaurant-description-leftq {
        position: relative;
        top: 0rem;
        left: 0rem;
        width: 50px;
        opacity: 0.5;
      }
      .restaurant-show-description {
        text-align: center;
        font-size: 1.2rem;
        margin: 0 0.8rem;
        width: 20rem;
        height: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        h2 {
          margin: 0;
        }
      }
      .restaurant-description-rightq {
        position: relative;
        width: 50px;
        left: 18rem;
        bottom: 0rem;
        opacity: 0.5;
      }
    }
  }
}
