.restaurants-show-container {
  font-family: $montserrat;
  background: white;
  min-height: 200vh;
  max-width: 1440px;
  margin: 0 auto;
  .restaurants-show-section-1 {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    .restaurants-show-header-image {
      width: 20rem;
      height: 20rem;
      object-fit: cover;
      margin-top: 1rem;
      margin-right: 1rem;
      padding: 10px;
      outline: 10px solid $crayon-outline;
    }
  }
  .restaurant-show-title {
    font-weight: 900;
    font-size: 9rem;
    width: 50rem;
    text-transform: uppercase;
    text-shadow: 80px 70px rgba(200, 200, 200, 0.8);
    margin-bottom: 5rem;
  }
  .restaurant-show-cuisine {
    display: none;
    // position: absolute;
    // top: 5rem;
    // opacity: 0.1;
    // font-size: 30rem;
    // text-transform: uppercase;
    // font-style: italic;
    // font-weight: 300;
    // margin-left: 4rem;
  }
  .restaurant-show-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $crayon-yellow;
    margin: 5rem 4rem;
    margin-right: 0;
    font-size: 2.5rem;
    .link-to-reviews {
      margin-left: 1rem;
      color: $crayon-outline;
    }
    .add-reviews {
      color: $crayon-outline;
      font-style: italic;
      text-align: right;
    }
    .restaurant-info {
      text-align: left;
      color: $crayon-outline;
      border: 4px solid $crayon-outline;
      padding: 0 36px;
      padding-right: 20rem;
      border-radius: 4px;
      p {
        font-size: 1.5rem;
        margin: 1.5rem 0;
      }
    }
  }

  .restaurant-description-leftq {
    opacity: 0.6;
  }

  .restaurant-description-rightq {
    opacity: 0.6;
  }

  .restaurant-show-description {
    font-style: italic;
    font-weight: 300;
    margin: 5rem 10rem;
  }
}
