.reviews-index-container {
  min-height: 100vh;
  margin: 0 auto;
  font-family: $montserrat;
}

.link-back {
  color: $crayon-red;
  &:hover {
    color: $crayon-red;
  }
}

@media screen and (max-width: 992px) {
  .reviews-index-container {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
  }
}
