<div class="home-hero-banner">
    <div class="hero-text">
        <h1 class="my-4">Zomato 2.0</h1>
        <%= link_to "Discover", restaurants_path, class: "cta-button"%>
    </div>
    <%= image_tag "hero-image.jpeg", alt: "Le Wagon", class: "hero-image"%>
</div>
