.cta-button {
  color: $app-secondary;
  font-size: 1rem;
  background: none;
  text-decoration: none;
  padding: 12px 28px;
  border: 1px solid $app-secondary;
  border-radius: 25px;
  transition: 0.2s;
  &:hover {
    color: $success;
    text-decoration: none;
    border-color: $success;
  }
}
