.review-bar {
  display: flex;
  border: rgba(200, 200, 200, 0.5) 1px solid;
  box-shadow: rgb(250, 250, 250) 1px 1px 1px;
  padding: 1.5rem 1.5rem;
  margin-bottom: 1rem;
  align-items: center;
  transition: 0.3s ease-in-out;
  .review-bar-user-pic {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    align-self: start;
  }
  &:hover {
    border: rgba(100, 100, 100, 1) 1px solid;
  }
  .review-content {
    margin-left: 1rem;
    p {
      margin: 0;
    }
    .review-date {
      margin: 0;
      font-weight: 600;
    }
    .review-bar-rating {
      color: $crayon-yellow;
      margin: 0.5rem 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .review-bar {
    margin: 2rem auto;
    border-radius: 5px;
    flex-direction: column;
    align-items: start;

    .review-content {
      text-align: right;
      display: flex;
      justify-content: center;
      text-align: left;
      flex-direction: column;
      margin: 2rem 0;
      .review-comment {
        position: relative;
      }
    }
  }
}
