<div>
    <% @reviews.each do |review| %>
        <h3>Rating: <%=review.rating%></h3>
        <p>comment: <%=review.comment%></p>
        <p>restaurant_id: <%=review.restaurant_id%></p>
        <p>user_id: <%=review.user_id%></p>
    <% end %>
</div>