<div class="reviews-index-container">
    <h1>Reviews</h1>
    <% @reviews.each do |review| %>
        <div class="review-bar">
            <%= cl_image_tag review.user.photo, class:"review-bar-user-pic" %>
            <div class="review-content">
                <p class="review-date"><%=review.created_at.to_datetime.strftime("%d/%m/%y")%></p>
                <div class="review-bar-rating">
                    <% review.rating.times do %>
                        <i class="fas fa-star"></i>
                    <% end %>
                </div>
                <p class="review-comment"><%=review.comment%></p>
            </div>
        </div>
    <% end %>
    <%= link_to "Back to restaurant", restaurant_path(@restaurant), class:"link-back"%>
</div>